<a href="https://colab.research.google.com/github/Arunsh-Data/ArunshAI.github.io/blob/main/Project_Sales_Dashboard_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
url = '/content/sample_data/Sales Dashboard Dataset_01.xlsx'
df = pd.read_excel(url)

print(df.head())

   Order ID Customer Last Name Customer First Name  Customer ID  \
0      3001             Hughes               Lewis         1234
1      3002              Gomez                 Ali         1235
2      3003               Beck                Mila         1236
3      3004             Juarez             Ryleigh         1237
4      3005            Preston            Leonidas         1238

            Service Category Order Date  Quantity Ordered    Order Status  \
0             Interview Prep 2024-05-06                 3       Delivered
1  Resume + LinkedIn Profile 2024-07-18                 3     In Progress
2           LinkedIn profile 2024-07-14                 1       Delivered
3           LinkedIn profile 2024-06-26                 2       Delivered
4        Networking Strategy 2024-11-28                 1  Service Booked

  State  Margins  Service Provider Expense  Sale Price   Total Profit (GMROI)  \
0    WA     0.10                     56.40          564                507.60
1   ACT     0.30                    233.10          777                543.90
2   NSW     0.25                    457.25         1829               1371.75
3   VIC     0.25                     56.75          227                170.25
4   QLD     0.20                    271.00         1355               1084.00

  Sales Agent
0       Kelly
1       Kelly
2   Priscilla
3      Daniel
4       Brian

In [3]:
xls = pd.ExcelFile(url)
xls.sheet_names

['Sales', 'Customers', 'Grad_Careers_Services']

In [4]:
# Select the Sales sheet
sales_df = xls.parse('Sales')

# Perform EDA on the sales sheet
print("\n--- EDA for Sales Sheet ---")
print("\nShape:")
print(sales_df.shape)
print("\nInfo:")
print(sales_df.info())
print("\nDescribe:")
print(sales_df.describe())
print("\nMissing values:")
print(sales_df.isnull().sum())

# Select the Customer sheet
customer_df = xls.parse('Customers')

# Perform EDA on the customer sheet
print("\n--- EDA for Customers Sheet ---")
print("\nShape:")
print(customer_df.shape)
print("\nInfo:")
print(customer_df.info())
print("\nDescribe:")
print(customer_df.describe())
print("\nMissing values:")
print(customer_df.isnull().sum())

--- EDA for Sales Sheet ---

Shape:
(1000, 14)

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Order ID                  1000 non-null   int64
 1   Customer Last Name        1000 non-null   object
 2   Customer First Name       1000 non-null   object
 3   Customer ID               1000 non-null   int64
 4   Service Category          1000 non-null   object
 5   Order Date                1000 non-null   datetime64[ns]
 6   Quantity Ordered          1000 non-null   int64
 7   Order Status              1000 non-null   object
 8   State                     1000 non-null   object
 9   Margins                   1000 non-null   float64
 10  Service Provider Expense  1000 non-null   float64
 11  Sale Price                1000 non-null   int64
 12  Total Profit (GMROI)      1000 non-null   float64
 13  Sales Agent               1000 non-null   object
dtypes: datetime64[ns](1), float64(3), int64(4), object(6)
memory usage: 109.5+ KB
None

Describe:
          Order ID  Customer ID                     Order Date  \
count  1000.000000   1000.00000                           1000
mean   3500.500000   1731.99600  2024-07-05 00:31:40.799999744
min    3001.000000   1234.00000            2024-01-01 00:00:00
25%    3250.750000   1482.75000            2024-04-02 18:00:00
50%    3500.500000   1731.50000            2024-07-10 00:00:00
75%    3750.250000   1981.25000            2024-10-04 00:00:00
max    4000.000000   2231.00000            2024-12-31 00:00:00
std     288.819436    288.21378                            NaN

       Quantity Ordered      Margins  Service Provider Expense  Sale Price   \
count       1000.000000  1000.000000               1000.000000  1000.000000
mean           2.010000     0.233050                206.466650   890.427000
min            1.000000     0.100000                  1.100000    11.000000
25%            1.000000     0.200000                 91.325000   431.750000
50%            2.000000     0.250000                179.200000   897.000000
75%            3.000000     0.300000                309.562500  1311.250000
max            3.000000     0.300000                571.200000  1904.000000
std            0.821325     0.064957                136.610881   514.266924

       Total Profit (GMROI)
count           1000.000000
mean             683.960350
min                7.700000
25%              333.450000
50%              679.000000
75%             1013.337500
max             1660.500000
std              402.355764

Missing values:
Order ID                    0
Customer Last Name          0
Customer First Name         0
Customer ID                 0
Service Category            0
Order Date                  0
Quantity Ordered            0
Order Status                0
State                       0
Margins                     0
Service Provider Expense    0
Sale Price                  0
Total Profit (GMROI)        0
Sales Agent                 0
dtype: int64

--- EDA for Customers Sheet ---

Shape:
(1000, 14)

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer Last Name      1000 non-null   object
 1   Customer First Name     1000 non-null   object
 2   Customer ID             1000 non-null   int64
 3   Service Category        1000 non-null   object
 4   Order Date              1000 non-null   datetime64[ns]
 5   Quantity Ordered        1000 non-null   int64
 6   Order Status            1000 non-null   object
 7   State                   1000 non-null   object
 8   Address                 1000 non-null   object
 9   City                    1000 non-null   object
 10  Postal Code             1000 non-null   int64
 11  Sales Price (Per unit)  1000 non-null   int64
 12  Sale Price              1000 non-null   int64
 13  Phone                   1000 non-null   object
dtypes: datetime64[ns](1), int64(5), object(8)
memory usage: 109.5+ KB
None

Describe:
       Customer ID                     Order Date  Quantity Ordered  \
count   1000.00000                           1000       1000.000000
mean    1731.99600  2024-07-05 00:31:40.799999744          2.063000
min     1234.00000            2024-01-01 00:00:00          1.000000
25%     1482.75000            2024-04-02 18:00:00          1.000000
50%     1731.50000            2024-07-10 00:00:00          2.000000
75%     1981.25000            2024-10-04 00:00:00          3.000000
max     2231.00000            2024-12-31 00:00:00          3.000000
std      288.21378                            NaN          0.801045

       Postal Code  Sales Price (Per unit)  Sale Price
count  1000.000000             1000.000000  1000.000000
mean   3927.336000              633.500000  1304.750000
min     800.000000              250.000000   250.000000
25%    2500.000000              250.000000   600.000000
50%    3350.000000              600.000000   900.000000
75%    5600.000000             1200.000000  1800.000000
max    7310.000000             1200.000000  3600.000000
std    2024.721851              389.235474   995.183565

Missing values:
Customer Last Name        0
Customer First Name       0
Customer ID               0
Service Category          0
Order Date                0
Quantity Ordered          0
Order Status              0
State                     0
Address                   0
City                      0
Postal Code               0
Sales Price (Per unit)    0
Sale Price                0
Phone                     0
dtype: int64

In [5]:
# Merge first and last name in both dataframes
sales_df['Full Name'] = sales_df['Customer First Name'] + ' ' + sales_df['Customer Last Name']
customer_df['Full Name'] = customer_df['Customer First Name'] + ' ' + customer_df['Customer Last Name']

# Drop the individual name columns
sales_df = sales_df.drop(['Customer First Name', 'Customer Last Name'], axis=1)
customer_df = customer_df.drop(['Customer First Name', 'Customer Last Name'], axis=1)

print("\nSales Sheet after merging names and dropping columns:")
print(sales_df.head())

print("\nCustomers Sheet after merging names and dropping columns:")
print(customer_df.head())

Sales Sheet after merging names and dropping columns:
   Order ID  Customer ID           Service Category Order Date  \
0      3001         1234             Interview Prep 2024-05-06
1      3002         1235  Resume + LinkedIn Profile 2024-07-18
2      3003         1236           LinkedIn profile 2024-07-14
3      3004         1237           LinkedIn profile 2024-06-26
4      3005         1238        Networking Strategy 2024-11-28

   Quantity Ordered    Order Status State  Margins  Service Provider Expense  \
0                 3       Delivered    WA     0.10                     56.40
1                 3     In Progress   ACT     0.30                    233.10
2                 1       Delivered   NSW     0.25                    457.25
3                 2       Delivered   VIC     0.25                     56.75
4                 1  Service Booked   QLD     0.20                    271.00

   Sale Price   Total Profit (GMROI) Sales Agent         Full Name
0          564                507.60       Kelly      Lewis Hughes
1          777                543.90       Kelly         Ali Gomez
2         1829               1371.75   Priscilla         Mila Beck
3          227                170.25      Daniel    Ryleigh Juarez
4         1355               1084.00       Brian  Leonidas Preston

Customers Sheet after merging names and dropping columns:
   Customer ID           Service Category Order Date  Quantity Ordered  \
0         1234             Interview Prep 2024-05-06                 1
1         1235  Resume + LinkedIn Profile 2024-07-18                 3
2         1236           LinkedIn profile 2024-07-14                 2
3         1237           LinkedIn profile 2024-06-26                 3
4         1238        Networking Strategy 2024-11-28                 2

     Order Status State                Address         City  Postal Code  \
0       Delivered    WA       54113 Main Street      Broome         6725
1     In Progress   ACT       31652 Main Street    Canberra         2600
2       Delivered   NSW       35446 King Street   Newcastle         2300
3       Delivered   VIC       67535 Park Avenue    Ballarat         3350
4  Service Booked   QLD  78361 Elizabeth Street  Gold Coast         4217

   Sales Price (Per unit)  Sale Price             Phone         Full Name
0                     250          250  +61 8 9929 7089      Lewis Hughes
1                     800         2400  +61 2 2684 3193         Ali Gomez
2                     300          600  +61 6 6279 4893         Mila Beck
3                     300          900  +61 9 6193 6662    Ryleigh Juarez
4                     250          500  +61 8 2149 9223  Leonidas Preston

In [6]:
# Check for duplicate rows in the Sales sheet
print("\nDuplicate rows in Sales sheet:")
print(sales_df.duplicated().sum())

# Check for duplicate rows in the Customers sheet
print("\nDuplicate rows in Customers sheet:")
print(customer_df.duplicated().sum())

Duplicate rows in Sales sheet:
0

Duplicate rows in Customers sheet:
0

In [7]:
# prompt: count of rows in each dataset

print("\nRow count for each dataset:")
print(f"Sales dataset: {sales_df.shape[0]} rows")
print(f"Customers dataset: {customer_df.shape[0]} rows")

Row count for each dataset:
Sales dataset: 1000 rows
Customers dataset: 1000 rows

In [8]:
# prompt: merge on basis of common columns

# Merge the dataframes on the common 'Full Name' column
merged_df = pd.merge(sales_df, customer_df, on='Full Name', how='inner')

print("\nMerged DataFrame (Sales and Customers):")
print(merged_df.head())

print("\nShape of Merged DataFrame:")
merged_df.shape

Merged DataFrame (Sales and Customers):
   Order ID  Customer ID_x         Service Category_x Order Date_x  \
0      3001           1234             Interview Prep   2024-05-06
1      3002           1235  Resume + LinkedIn Profile   2024-07-18
2      3003           1236           LinkedIn profile   2024-07-14
3      3004           1237           LinkedIn profile   2024-06-26
4      3005           1238        Networking Strategy   2024-11-28

   Quantity Ordered_x  Order Status_x State_x  Margins  \
0                   3       Delivered      WA     0.10
1                   3     In Progress     ACT     0.30
2                   1       Delivered     NSW     0.25
3                   2       Delivered     VIC     0.25
4                   1  Service Booked     QLD     0.20

   Service Provider Expense  Sale Price _x  ...  Order Date_y  \
0                     56.40            564  ...    2024-05-06
1                    233.10            777  ...    2024-07-18
2                    457.25           1829  ...    2024-07-14
3                     56.75            227  ...    2024-06-26
4                    271.00           1355  ...    2024-11-28

  Quantity Ordered_y  Order Status_y  State_y                Address   \
0                  1       Delivered       WA       54113 Main Street
1                  3     In Progress      ACT       31652 Main Street
2                  2       Delivered      NSW       35446 King Street
3                  3       Delivered      VIC       67535 Park Avenue
4                  2  Service Booked      QLD  78361 Elizabeth Street

         City  Postal Code Sales Price (Per unit) Sale Price _y  \
0      Broome         6725                    250           250
1    Canberra         2600                    800          2400
2   Newcastle         2300                    300           600
3    Ballarat         3350                    300           900
4  Gold Coast         4217                    250           500

             Phone
0  +61 8 9929 7089
1  +61 2 2684 3193
2  +61 6 6279 4893
3  +61 9 6193 6662
4  +61 8 2149 9223

[5 rows x 25 columns]

Shape of Merged DataFrame:

(1004, 25)

In [9]:
# Identify columns with _x and _y suffixes
x_cols = merged_df.filter(regex='_x$').columns
y_cols = merged_df.filter(regex='_y$').columns

print("Columns with _x suffix:", list(x_cols))
print("Columns with _y suffix:", list(y_cols))

Columns with _x suffix: ['Customer ID_x', 'Service Category_x', 'Order Date_x', 'Quantity Ordered_x', 'Order Status_x', 'State_x', 'Sale Price _x']
Columns with _y suffix: ['Customer ID_y', 'Service Category_y', 'Order Date_y', 'Quantity Ordered_y', 'Order Status_y', 'State_y', 'Sale Price _y']

Based on the output above, we can see the columns that were duplicated during the merge. Let's examine the columns that exist in one dataframe but not the other.

### Data Cleaning for Power BI

Based on the output above, we can see the columns that were duplicated during the merge. These `_x` and `_y` suffixes can create confusion when building dashboards in Power BI. To address this, we will clean the merged dataframe by handling these duplicated columns.

The impact of this cleaning will be a more intuitive and manageable dataset for Power BI, making it easier to create visualizations and reports without ambiguity in column names.

Now, let's handle the duplicated columns. For columns that are conceptually the same (like `Customer ID`, `Service Category`, `Order Date`, `Quantity Ordered`, `Order Status`, `State`, and `Sale Price`), we should keep only one version. For columns that are unique to each original sheet (like `Margins`, `Service Provider Expense`, `Total Profit (GMROI)`, and `Sales Agent` from Sales, and `Address`, `City`, `Postal Code`, `Sales Price (Per unit)`, and `Phone` from Customers), we should keep all of them.

We will keep the `_x` version of the duplicated columns and drop the `_y` versions, as the `sales_df` was the left dataframe in the merge. We will also rename the `_x` columns to remove the suffix.

In [10]:
# Identify columns unique to each original dataframe based on the merged dataframe
# We'll assume columns without _x or _y were the merge key or unique to one dataframe
# and columns with _x or _y were duplicated and need to be handled.

all_cols = merged_df.columns
sales_only_cols_in_merged = [col for col in all_cols if '_x' in col or (col in sales_df.columns and col not in customer_df.columns)]
customer_only_cols_in_merged = [col for col in all_cols if '_y' in col or (col in customer_df.columns and col not in sales_df.columns)]
common_cols_in_merged = [col for col in all_cols if '_x' not in col and '_y' not in col]


print("Columns likely from Sales sheet only (or _x version):", sales_only_cols_in_merged)
print("Columns likely from Customers sheet only (or _y version):", customer_only_cols_in_merged)
print("Common columns (merge key or not duplicated):", common_cols_in_merged)

Columns likely from Sales sheet only (or _x version): ['Order ID', 'Customer ID_x', 'Service Category_x', 'Order Date_x', 'Quantity Ordered_x', 'Order Status_x', 'State_x', 'Margins', 'Service Provider Expense', 'Sale Price _x', 'Total Profit (GMROI)', 'Sales Agent']
Columns likely from Customers sheet only (or _y version): ['Customer ID_y', 'Service Category_y', 'Order Date_y', 'Quantity Ordered_y', 'Order Status_y', 'State_y', 'Address ', 'City', 'Postal Code', 'Sales Price (Per unit)', 'Sale Price _y', 'Phone']
Common columns (merge key or not duplicated): ['Order ID', 'Margins', 'Service Provider Expense', 'Total Profit (GMROI)', 'Sales Agent', 'Full Name', 'Address ', 'City', 'Postal Code', 'Sales Price (Per unit)', 'Phone']

In [11]:
# Drop the duplicated columns from the right dataframe (_y suffix)
cols_to_drop = y_cols

# Keep 'Customer ID_y', 'Service Category_y', 'Order Date_y', 'Quantity Ordered_y', 'Order Status_y', 'State_y', 'Sale Price _y'
# We need to decide which version of these columns to keep. Let's inspect the data in duplicated columns first.
# Display the first few rows of duplicated columns from both _x and _y
duplicated_cols_x = [col for col in x_cols if col.replace('_x', '') + '_y' in y_cols]
duplicated_cols_y = [col.replace('_x', '') + '_y' for col in duplicated_cols_x]

print("\nExamining duplicated columns:")
display(merged_df[duplicated_cols_x + duplicated_cols_y].head())

# Decide which set of duplicated columns to keep.
# Based on the head output and the original data, the data in the duplicated columns appears to be the same.
# We can drop the _y columns and rename the _x columns.
cols_to_drop = y_cols
merged_df_cleaned = merged_df.drop(columns=cols_to_drop)

# Rename the _x columns to remove the suffix
merged_df_cleaned.columns = merged_df_cleaned.columns.str.replace('_x$', '', regex=True)


print("\nCleaned Merged DataFrame:")
display(merged_df_cleaned.head())

print("\nInfo of Cleaned Merged DataFrame:")
print(merged_df_cleaned.info())

Examining duplicated columns:

,Customer ID_x,Service Category_x,Order Date_x,Quantity Ordered_x,Order Status_x,State_x,Sale Price _x,Customer ID_y,Service Category_y,Order Date_y,Quantity Ordered_y,Order Status_y,State_y,Sale Price _y
0,1234,Interview Prep,2024-05-06,3,Delivered,WA,564,1234,Interview Prep,2024-05-06,1,Delivered,WA,250
1,1235,Resume + LinkedIn Profile,2024-07-18,3,In Progress,ACT,777,1235,Resume + LinkedIn Profile,2024-07-18,3,In Progress,ACT,2400
2,1236,LinkedIn profile,2024-07-14,1,Delivered,NSW,1829,1236,LinkedIn profile,2024-07-14,2,Delivered,NSW,600
3,1237,LinkedIn profile,2024-06-26,2,Delivered,VIC,227,1237,LinkedIn profile,2024-06-26,3,Delivered,VIC,900
4,1238,Networking Strategy,2024-11-28,1,Service Booked,QLD,1355,1238,Networking Strategy,2024-11-28,2,Service Booked,QLD,500

Cleaned Merged DataFrame:

,Order ID,Customer ID,Service Category,Order Date,Quantity Ordered,Order Status,State,Margins,Service Provider Expense,Sale Price,Total Profit (GMROI),Sales Agent,Full Name,Address,City,Postal Code,Sales Price (Per unit),Phone
0,3001,1234,Interview Prep,2024-05-06,3,Delivered,WA,0.10,56.40,564,507.60,Kelly,Lewis Hughes,54113 Main Street,Broome,6725,250,+61 8 9929 7089
1,3002,1235,Resume + LinkedIn Profile,2024-07-18,3,In Progress,ACT,0.30,233.10,777,543.90,Kelly,Ali Gomez,31652 Main Street,Canberra,2600,800,+61 2 2684 3193
2,3003,1236,LinkedIn profile,2024-07-14,1,Delivered,NSW,0.25,457.25,1829,1371.75,Priscilla,Mila Beck,35446 King Street,Newcastle,2300,300,+61 6 6279 4893
3,3004,1237,LinkedIn profile,2024-06-26,2,Delivered,VIC,0.25,56.75,227,170.25,Daniel,Ryleigh Juarez,67535 Park Avenue,Ballarat,3350,300,+61 9 6193 6662
4,3005,1238,Networking Strategy,2024-11-28,1,Service Booked,QLD,0.20,271.00,1355,1084.00,Brian,Leonidas Preston,78361 Elizabeth Street,Gold Coast,4217,250,+61 8 2149 9223

Info of Cleaned Merged DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1004 entries, 0 to 1003
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Order ID                  1004 non-null   int64
 1   Customer ID               1004 non-null   int64
 2   Service Category          1004 non-null   object
 3   Order Date                1004 non-null   datetime64[ns]
 4   Quantity Ordered          1004 non-null   int64
 5   Order Status              1004 non-null   object
 6   State                     1004 non-null   object
 7   Margins                   1004 non-null   float64
 8   Service Provider Expense  1004 non-null   float64
 9   Sale Price                1004 non-null   int64
 10  Total Profit (GMROI)      1004 non-null   float64
 11  Sales Agent               1004 non-null   object
 12  Full Name                 1004 non-null   object
 13  Address                   1004 non-null   object
 14  City                      1004 non-null   object
 15  Postal Code               1004 non-null   int64
 16  Sales Price (Per unit)    1004 non-null   int64
 17  Phone                     1004 non-null   object
dtypes: datetime64[ns](1), float64(3), int64(6), object(8)
memory usage: 141.3+ KB
None

Now that we have a cleaned merged dataframe without the `_x` and `_y` suffixes and with the relevant columns from both original dataframes, it should be much easier to work with in Power BI.

What would you like to do next? We could:
*   Perform further analysis on the cleaned data.
*   Visualize some key metrics from the cleaned data.
*   Save the cleaned data to a new file for use in Power BI.

In [12]:
# Checking for missing values in the merged dataframe
print("\nMissing values in Merged DataFrame:")
print(merged_df_cleaned.isnull().sum())

# Checking for duplicate rows in the merged dataframe
print("\nDuplicate rows in Merged DataFrame:")
print(merged_df_cleaned.duplicated().sum())

Missing values in Merged DataFrame:
Order ID                    0
Customer ID                 0
Service Category            0
Order Date                  0
Quantity Ordered            0
Order Status                0
State                       0
Margins                     0
Service Provider Expense    0
Sale Price                  0
Total Profit (GMROI)        0
Sales Agent                 0
Full Name                   0
Address                     0
City                        0
Postal Code                 0
Sales Price (Per unit)      0
Phone                       0
dtype: int64

Duplicate rows in Merged DataFrame:
0

In [14]:
# prompt: order date is considered as integer but I need change the format to mm - yyyy

# Convert 'Order Date' to datetime objects and format as 'mm - yyyy'
merged_df_cleaned['Order Date'] = pd.to_datetime(merged_df_cleaned['Order Date']).dt.strftime('%m - %Y')

print("\nCleaned Merged DataFrame with formatted Order Date:")
display(merged_df_cleaned.head())

print("\nInfo of Cleaned Merged DataFrame after date formatting:")
print(merged_df_cleaned.info())

Cleaned Merged DataFrame with formatted Order Date:

,Order ID,Customer ID,Service Category,Order Date,Quantity Ordered,Order Status,State,Margins,Service Provider Expense,Sale Price,Total Profit (GMROI),Sales Agent,Full Name,Address,City,Postal Code,Sales Price (Per unit),Phone
0,3001,1234,Interview Prep,05 - 2024,3,Delivered,WA,0.10,56.40,564,507.60,Kelly,Lewis Hughes,54113 Main Street,Broome,6725,250,+61 8 9929 7089
1,3002,1235,Resume + LinkedIn Profile,07 - 2024,3,In Progress,ACT,0.30,233.10,777,543.90,Kelly,Ali Gomez,31652 Main Street,Canberra,2600,800,+61 2 2684 3193
2,3003,1236,LinkedIn profile,07 - 2024,1,Delivered,NSW,0.25,457.25,1829,1371.75,Priscilla,Mila Beck,35446 King Street,Newcastle,2300,300,+61 6 6279 4893
3,3004,1237,LinkedIn profile,06 - 2024,2,Delivered,VIC,0.25,56.75,227,170.25,Daniel,Ryleigh Juarez,67535 Park Avenue,Ballarat,3350,300,+61 9 6193 6662
4,3005,1238,Networking Strategy,11 - 2024,1,Service Booked,QLD,0.20,271.00,1355,1084.00,Brian,Leonidas Preston,78361 Elizabeth Street,Gold Coast,4217,250,+61 8 2149 9223

Info of Cleaned Merged DataFrame after date formatting:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1004 entries, 0 to 1003
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Order ID                  1004 non-null   int64
 1   Customer ID               1004 non-null   int64
 2   Service Category          1004 non-null   object
 3   Order Date                1004 non-null   object
 4   Quantity Ordered          1004 non-null   int64
 5   Order Status              1004 non-null   object
 6   State                     1004 non-null   object
 7   Margins                   1004 non-null   float64
 8   Service Provider Expense  1004 non-null   float64
 9   Sale Price                1004 non-null   int64
 10  Total Profit (GMROI)      1004 non-null   float64
 11  Sales Agent               1004 non-null   object
 12  Full Name                 1004 non-null   object
 13  Address                   1004 non-null   object
 14  City                      1004 non-null   object
 15  Postal Code               1004 non-null   int64
 16  Sales Price (Per unit)    1004 non-null   int64
 17  Phone                     1004 non-null   object
dtypes: float64(3), int64(6), object(9)
memory usage: 141.3+ KB
None

In [16]:
# prompt: save it as modified dataset and after EDA and download the datset

# Save the cleaned DataFrame to a CSV file
output_filename = 'modified_dataset_for_power_bi.csv'
merged_df_cleaned.to_csv(output_filename, index=False)

print(f"\nCleaned dataset saved as {output_filename}")

# Download the saved file
from google.colab import files
files.download(output_filename)

print(f"Downloading {output_filename}")

Cleaned dataset saved as modified_dataset_for_power_bi.csv

Downloading modified_dataset_for_power_bi.csv